<ion-view>
      <ion-nav-title>
        <h1 class="title"> Registro de Jornadas </h1> <!-- titulo barra superior -->
      </ion-nav-title>
      <!-- Botão para chamar a tela  -->
      <div class="jornada1">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" href="#/menu/jornada1" > 
            <i class="icon  ion-compose"></i>
               <b>  Ocorrências de Jornadas </b>
            </ion-item>
          </ion-list>
      </div>

       <div class="jornada2">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" href="#/menu/jornada2" > 
            <i class="icon  ion-compose"></i>
               <b>  Pernoite </b>
            </ion-item>
          </ion-list>
      </div>





