<ion-view>
  <ion-nav-bar class="bar bar-positive">
    <ion-nav-back-button>Voltar</ion-nav-back-button> <!-- botao voltar na barra superior -->
      <ion-nav-title>
        <h1 class="title"> Ocorrencias Jornadas</h1> <!-- titulo barra superior -->
      </ion-nav-title>
  </ion-nav-bar>
<ion-content>      
       <div class="expedicao1">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" ng-click="inseriExpedicaoLocal()"> 
            <img src="img/img_expedicao.png">
               <b>Início Expedição</b>
            </ion-item>
          </ion-list>
      </div>

       <div class="direcao">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" ng-click="inseriInicioDirecaoLocal()"> 
            <img src="img/img_volante.png">
               <b>Inicio / Fim Direção</b>
            </ion-item>
          </ion-list>
      </div>

      <div class="fiscalizacao">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" ng-click="inseriInicioFiscalizacaoLocal()"> 
             <img src="img/img_fiscalizacao.png">
               <b>Inicio / Fim Fiscalização</b>
            </ion-item>
          </ion-list>
      </div>


       <div class="abastecimento">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" ng-click="inseriInicioAbastecimentoLocal()" > 
            <img src="img/img_abastecimento.png">
               <b> Inicio / Fim Abastecimento </b>
            </ion-item>
          </ion-list>
      </div>

      <div class="manutencao">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" > 
            <img src="img/img_manutencao.png">
               <b> Inicio / Fim Manutencao </b>
            </ion-item>
          </ion-list>
      </div>

       <div class="cliente">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" > 
            <img src="img/img_clientes.png">
               <b> Inicio / Fim cliente </b>
            </ion-item>
          </ion-list>
      </div>

      <div class="carga">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" > 
            <img src="img/img_carga.png">
               <b> inicio / Fim Carga </b>
            </ion-item>
          </ion-list>
      </div>

      <div class="descarga">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" > 
            <img src="img/img_descarga.png">
               <b> inicio / Fim Descarga </b>
            </ion-item>
          </ion-list>
      </div>

       <div class="expedicao2">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" > 
            <img src="img/img_FimExpedicao.png">
               <b>Fim Expedição</b>
            </ion-item>
          </ion-list>
      </div>
</ion-content>
</ion-view>


 