<ion-view>
  <ion-nav-bar class="bar bar-positive">
    <ion-nav-back-button>Voltar</ion-nav-back-button> <!-- botao voltar na barra superior -->
      <ion-nav-title>
        <h1 class="title"> Pernoite </h1> <!-- titulo barra superior -->
      </ion-nav-title>
  </ion-nav-bar>
  <ion-content>


   <div class="alimentacao">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" > 
             <img src="img/img_alimentacao.png">
               <b> Alimentação</b>
            </ion-item>
          </ion-list>
      </div>

       <div class="descanso">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" > 
            <img src="img/img_descanso.png">
               <b> Descanso</b>
            </ion-item>
          </ion-list>
      </div>

       <div class="pernoite">      
          <ion-list>
            <ion-item class="titulo"  class="item-icon-left" > 
            <img src="img/img_pernoite.png">
               <b> Pernoite</b>
            </ion-item>
          </ion-list>
      </div>


      
</ion-content>

  
</ion-view>


 