<ion-view ng-init="consultaJornadas()">
      <ion-nav-title>
        <h1 class="title"> Minhas Jornadas </h1> <!-- titulo barra superior -->
      </ion-nav-title>
      <!-- Botão para chamar a tela  -->
      <ion-content>



        <ion-list>
          <ion-item can-swipe="swipe" ng-repeat="expediente in expedientes">
           <h2> Expediente </h2>
           <h3> <li> Data Inicial: {{expediente.dataInicio}} </li> </h3>
           <h3> <li> Hora Inicial: {{expediente.horaInicio}} </li> </h3>
           <h3> <li> Data Final: {{expediente.dataFinal}} </li> </h3>
           <h3> <li> Hora Hora: {{expediente.horaFinal}} </li> </h3>
           <ion-option-button class="button-assertive">
              remove
           </ion-option-button>
          </ion-item>
        </ion-list>

         <ion-list>
          <ion-item can-swipe="swipe" ng-repeat="direcao in direcoes">
           <h2> Direção </h2>
           <h3> <li> Data Inicial: {{direcao.dataInicio}} </li> </h3>
           <h3> <li> Hora Inicial: {{direcao.horaInicio}} </li> </h3>
           <h3> <li> Data Final: {{direcao.dataFinal}} </li> </h3>
           <h3> <li> Hora Hora: {{direcao.horaFinal}} </li> </h3>
           <ion-option-button class="button-assertive">
              remove
           </ion-option-button>
          </ion-item>
        </ion-list>
      </ion-content>
</ion-view>
