<ion-view ng-init="consultaRotas()">
      <ion-nav-title>
        <h1 class="title"> Minhas Rotas </h1> <!-- titulo barra superior -->
      </ion-nav-title>
      <!-- Botão para chamar a tela  -->
      <ion-content>
      	
        <ion-list>
          <ion-item can-swipe="swipe" ng-repeat="rota in rotas">
           <h3> <li> Origem: {{rota.origem[0]}} </li> </h3>
           <h3> <li> Destino: {{rota.destino[0]}} </li> </h3>
           <h3> <li> Duração: {{rota.duracao}} </li> </h3>
           <h3> <li> Tempo: {{rota.tempo}} </li>  </h3>  
           
           <ion-option-button class="button-assertive">
              remove
           </ion-option-button>

          </ion-item>
        </ion-list>
      </ion-content>  
</ion-view>