<ion-view ng-init="consultaJornadas()">
      <ion-nav-title>
        <h1 class="title"> Minhas Jornadas </h1> <!-- titulo barra superior -->
      </ion-nav-title>
      <!-- Botão para chamar a tela  -->
      <ion-content>



        <ion-list>
          <ion-item can-swipe="swipe">
           <h2> Expediente </h2>
           <h3> <li> Data Inicial: {{expedientes[0].dataInicio}} </li> </h3>
           <h3> <li> Hora Inicial: {{expedientes[0].horaInicio}} </li> </h3>
           <h3> <li> Data Final: {{expedientes[1].dataFinal}} </li> </h3>
           <h3> <li> Hora Hora: {{expedientes[1].horaFinal}} </li> </h3>
           <ion-option-button class="button-assertive">
              remove
           </ion-option-button>
          </ion-item>
        </ion-list>

         <ion-list>
          <ion-item can-swipe="swipe">
           <h2> Direção </h2>
           <h3> <li> Data Inicial: {{direcoes[0].dataInicio}} </li> </h3>
           <h3> <li> Hora Inicial: {{direcoes[0].horaInicio}} </li> </h3>
           <h3> <li> Data Final: {{direcoes[1].dataFinal}} </li> </h3>
           <h3> <li> Hora Hora: {{direcoes[1].horaFinal}} </li> </h3>
           <ion-option-button class="button-assertive">
              remove
           </ion-option-button>
          </ion-item>
        </ion-list>
      </ion-content>
</ion-view>
