<ion-view>
    <ion-pane>      
      <ion-content id="anuncioLogin" scroll="true">
        <div class="loginEfeito">
          <!--Formulário de Login -->
          <br></br>
          <img id="logoLogin" src= "img/logomarca.png">
          <ion-list>
             <label class="item item-input item-floating-label">
               <span class="input-label">Usuário:</span>
               <input type="text" id="inputEmail" placeholder="Informe o Usuário">
             </label>

             <label class="item item-input item-floating-label">
               <span class="input-label">Senha:</span>
               <input type="password" id="inputPassword" placeholder="Informe a Senha">
             </label>
          </ion-list>
            <a class ="button button-full button-calm " id="btlogin" href="#/menu/home" >
              <img id="imgChave" src ="img\chave.png"><h2>Acessar</h2>
            </a>
        </div>
        <!--FIM -- Formulário de Login -->
      </ion-content>
    </ion-pane>
</ion-view> 
