.logo img {

	width: 317px;
	position: absolute;
	left: 38px;
	top: 100px;
}	
/* botaão da tela apresentação */
.Login button {

	position: absolute;
	background: #1E90FF;
    color: #fff;
    left: 120px;
    top:450px;

}

/* botao de efeito tela apresentação */
.Login button:hover {

	position: absolute;
	background: #fff;
    color: #1E90FF;
    left: 120px;
    top:450px;
    border: 1px #1E90FF solid;

}
 
/*Login*/
#logoLogin {
width: 225px;
    position: relative;
    left: 38px;
}

#anuncioLogin {
background: url(../img/imgPrincipal.jpg) no-repeat center top;
margin-top: -40px;
}

/* efeito icone quadrado tela de login */
.loginEfeito{
  padding: 10px;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 100px;
  background-color: rgba(300,245,255, 0.8);
}

.loginEfeito .button {
    height: 30px;
    border-color: transparent;
    background-color: #1E90FF;
    color: #fff;
    position: relative;
    border-radius: 35px;
}
.loginEfeito a img {
        width: 80px;
    display: block;
    float: left;
    padding-top: 3px;
}

.loginEfeito a h2 {
    position: relative;
    float: left;
    display: block;
    top: -12px;
    left: 35px;
}

.item-input{
  margin-bottom: 15px;
}

.cadastroUsuario{ 
margin-left: 5px;
margin-right: 5px;
margin-top: 550px;
width: 92%;

}

/* Cor do Menu */
.bar {
	background-color: #1E90FF;
}

.bar .button {
    color: #fff;
}

.title{
	color: white;

}

/* imagem de fundo de logo*/
.imgFundo{
    background: url('../img/imgPrincipal_transp.png') no-repeat center top;
    margin-top: -40px;

}

/*  -------------------------------*/

/* Tela Registro de Jornadas */
.jornada1{

	text-align: center;
    margin-top: 15%;
    color: #fff;
}
.jornada1 i {
    font-size: 50px;
    display: block;
}

.jornada2{

	text-align: center;
    margin-top: 5%;
    color: #fff;

}
.jornada2 i {
    font-size: 50px;
    display: block;
}


/* ------------------------------------*/

/* imagens dos registros de jornadas*/

.expedicao1{

    text-align: center;
    margin-top: 20%;
    color: #fff;
}
.expedicao1 img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 120px;
}

.expedicao2{

    text-align: center;
    margin-top: 20%;
    color: #fff;
}
.expedicao2 img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 120px;
}
 
.direcao{

    text-align: center;
    margin-top: 20%;
    color: #fff;
}
.direcao img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 120px;
}

.fiscalizacao{

    text-align: center;
    margin-top: 15%;
    color: #fff;
}
.fiscalizacao img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 120px;
}

.abastecimento{

    text-align: center;
    margin-top: 15%;
    color: #fff;
}
.abastecimento img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 120px;
}
.manutencao{

    text-align: center;
    margin-top: 15%;
    color: #fff;
}
.manutencao img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 115px;

}
.carga{

    text-align: center;
    margin-top: 15%;
    color: #fff;
}
.carga img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 122px;

}
.descarga{

    text-align: center;
    margin-top: 15%;
    color: #fff;
}
.descarga img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 120px;

}

.cliente{

    text-align: center;
    margin-top: 15%;
    color: #fff;
}
.cliente img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 120px;
}

.alimentacao{

    text-align: center;
    margin-top: 15%;
    color: #fff;
}
.alimentacao img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 120px;
}

.descanso{

    text-align: center;
    margin-top: 15%;
    color: #fff;
}
.descanso img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 120px;
}
.pernoite{

    text-align: center;
    margin-top: 15%;
    color: #fff;
}
.pernoite img {
    font-size: 50px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 120px;
}

/* botão da tela Rotas*/
.button.button-positive{
    border-color: transparent;
    background-color: #387ef5;
    color: #fff;
    left: 50px;
}










